footer.fk
 .r
  .c5
   nav
    a(href=siteurl + "it/#about-the-project") Informazioni sul progetto
    a(href=siteurl + "it/#project-partners") Partner del progetto
    a(href=siteurl + "it/#key-project-activities") Attività del progetto
  .c5
   img.right(src=siteurl + "img/cofunded-logo.jpg" width="400px" alt="Financial-Legal Literacy for Europe")