footer.fk
 .r
  .c5
   nav
    a(href=siteurl + "fr/#about-the-project") À propos du projet 
    a(href=siteurl + "fr/#project-partners") Partenaires du projet 
    a(href=siteurl + "fr/#key-project-activities") Activités du projet  
  .c5
   img.right(src=siteurl + "img/cofunded-logo.jpg" width="400px" alt="Financial-Legal Literacy for Europe")