footer.fk
 .r
  .c5
   nav
    a(href=siteurl + "bg/#about-the-project") За проекта 
    a(href=siteurl + "bg/#project-partners") Партньори по проекта
    a(href=siteurl + "bg/#key-project-activities") Дейности по проекта
  .c5
   img.right(src=siteurl + "img/cofunded-logo.jpg" width="400px" alt="Financial-Legal Literacy for Europe")