footer.fk
 .r
  .c5
   nav
    a(href=siteurl + "lt/#about-the-project") Apie projektą 
    a(href=siteurl + "lt/#project-partners") Projekto partneriai 
    a(href=siteurl + "lt/#key-project-activities") Projekto eiga
  .c5
   img.right(src=siteurl +"img/cofunded-logo.jpg" width="400px" alt="Financial-Legal Literacy for Europe")