footer.fk
 .r
  .c5
   nav
    a(href=siteurl + "fr/#about-the-project") About the project
    a(href=siteurl + "fr/#project-partners") Project partners
    a(href=siteurl + "fr/#key-project-activities") Project activities
  .c5
   img.right(src=siteurl + "img/cofunded-logo.jpg" width="400px" alt="Financial-Legal Literacy for Europe")