footer.fk
 .r
  .c5
   nav
    a(href="/#about-the-project") About the project
    a(href="/#project-partners") Project partners
    a(href="/#key-project-activities") Key project activities
  .c5
   img.right(src="img/cofunded-logo.jpg" width="400px" alt="Financial-Legal Literacy for Europe")