header
 .r
  .c5
    img(src="img/site-logo-blue.png" alt="Financial-Legal Literacy for Europe")
  .c5
   img.right(src="img/cofunded-logo.jpg" width="400px" alt="Financial-Legal Literacy for Europe")
   a(href="lt/") LT 
   a(href="lt/") IT 
   a(href="lt/") FR 
   a(href="lt/") BG 
   a(href="lt/") EN 