header
 .r
  .c5
    img(src="img/site-logo.png" alt="Financial-Legal Literacy for Europe")
  .c5
   nav.text-right
    a(href="/#about-the-project") About the project
    a(href="/#project-partners") Project partners
    a(href="/#key-project-activities") Key project activities
   img.right(src="img/cofunded-logo.jpg" width="400px" alt="Financial-Legal Literacy for Europe")