section
 .r
  .c5
   nav
    a(href="/#about-the-project") À propos du projet 
    a(href="/#project-partners") Partenaires du projet 
    a(href="/#key-project-activities") Activités du projet 
  .c5.text-right
   h1.balta#about-the-project À propos du projet

 .r.bg.ff
  .c4
   h2 Les citoyens de l'UE ont un faible niveau de connaissances financières et juridiques, ce qui affecte profondément à la fois le bien-être individuel des citoyens, l'économie des États membres et celle de l'UE dans son ensemble.
  .c6
   .goals
    p L'UE perd d'importantes opportunités financières et d'investissement en raison du faible niveau de connaissances financières et juridiques de ses citoyens. Les différences de connaissances financières et juridiques varient largement d'un pays de l'UE à l'autre et contribuent à la fragmentation et aux disparités économiques entre les États membres.
    p La faible connaissance financière et juridique des citoyens de l'UE les rend plus vulnérables aux fluctuations de l'économie et aux situations de crise, ce qui affecte également la capacité de l'UE à surmonter ces perturbations économiques. Cela est particulièrement vrai en ce qui concerne la crise actuelle déclenchée par la pandémie de COVID-19. Les divergences fondamentales de l'éducation financière et juridique dans les différents pays de l'UE prouvent qu'il existe un besoin fondamental de lever les barrières et d'assurer l'accès de tous les citoyens de l'UE aux meilleures pratiques européennes d'éducation financière et juridique.

 
 .r
  .c4
   h2 Compte tenu du contexte susmentionné, le projet Éducation financière et juridique pour l'Europe (FIN-LEG-LIT) vise <strong>les objectifs suivants</strong>:   
  .c6
   .goals
    strong Développer un manuel (« Manuel d'alphabétisation financière et juridique pour l'Europe ») d'éducation financière et juridique pour les formateurs </strong> et les apprenants adultes, basé sur les meilleures pratiques européennes en la matière et reflétant les objectifs de l'UE liés à la finance verte et à l'Union des marchés des capitaux. Le manuel et l'outil d'apprentissage en ligne cibleront particulièrement les adultes aux revenus modestes et/ou peu qualifiés et/ou peu qualifiés dans des pays et des régions ayant des niveaux de développement économique différents. Le manuel sera universellement applicable dans toute l'UE et pourrait être utilisé par des personnes ayant différents niveaux de connaissances financières et juridiques.
    .hline
    strong Lancer et maintenir un outil d'apprentissage en ligne d'alphabétisation financière et juridique </strong> qui pourrait être utilisé n'importe où et dans n'importe quel environnement pour des cours d'éducation financière et juridique ou un apprentissage individuel.
    .hline
    strong Formation des formateurs apprentissage financier et juridique </strong> pour fournir une éducation financière et juridique aux apprenants adultes à l'aide du manuel et de l'outil d'apprentissage en ligne
    .hline
    strong Offrir une formation en apprentissage juridique et financier </strong> aux apprenants adultes aux revenus modestes et/ou peu qualifiés et/ou peu qualifiés.

 //- Partner organizations sekcija
  //-  .r.bg.fr
  //-   .c0
  //-    h2 Five partner organizations participate in the project
  //-    p The participating partners cover the spectrum of competences, needed to the successful implementation of the project.
  
  //-   .c2.line
  //-    h3 EURL Aristote
  //-    p EURL Aristote (a private company, Paris, France), which has a profound experience in the management of EU projects and activities of education of adults
  //-   .c2.line
  //-    h3 VsI Finansu teises institutas
  //-    p VsI Finansu teises institutas (a non-for profit organization, Lithuania), which is a scientific research institution, focusing on the financial law and the promotion of the financial and legal literacy and having a profound experience in education of adults
  //-   .c2.line
  //-    h3 Organisation for Empowerment and Nonformal education
  //-    p Organisation for Empowerment and Nonformal education (an association, Le Moule, Guadeloupe, France), which has a profound experience in working with the community and in particular, with its members in disadvantageous economic and/or social situations
  //-   .c2.line
  //-    h3 European Multicultural Association
  //-    p European Multicultural Association (non-profit organisation, Bulgaria), working mainly in main field of social inclusion and informal education for youth and having a well-established experience in the field of adult education in an economically disadvantaged environment
  //-   .c2
  //-    h3 Euroform RFS
  //-    p Euroform RFS (non-governmental organization, Italy) specialized in training and career guidance, with particular focus on ICT, and having an in depth experience in adult learning and development of e-learning tools
 
 .r.bg.ff 
  .c4
   h2 Pour réaliser les activités susmentionnées, tous <strong>les partenaires du projet y contribuent</strong> avec leur savoir-faire et leurs compétences respectifs.
  .c6
   .goals
    p Ils effectueront les activités de recherche nécessaires à la création du manuel, sur la base des meilleures pratiques européennes de formation et d'apprentissage en matière d'alphabétisation financière et juridique. Ils créeront un outil d'apprentissage en ligne, sur la base des résultats de la recherche susmentionnée et des commentaires des apprenants adultes. Les participants au projet mettront en œuvre des ateliers pour les formateurs et les apprenants de l'alphabétisation financière et juridique et assureront la diffusion des résultats du projet.
    p À la suite du projet, les formateurs participants seront à même d’utiliser le manuel et l'outil d'apprentissage en ligne dans le cadre de la formation d'alphabétisation financière et juridique pour les adultes, avec un accent particulier sur les apprenants socialement et économiquement défavorisés. Les apprenants adultes participant directement au projet amélioreront leurs compétences en matière juridique et financière. Les outils créés seront disponibles gratuitement pour tous les Européens via le site Web du projet et d'autres sites Web partenaires et médias Internet. Le projet contribuera fortement au développement global de l'approche européenne intégrée de l'éducation financière et juridique de ses citoyens.

 //- Project partner sekcija
 .r
  .c5
  .c5.text-right
   h1.balta#project-partners Partenaires du projet
 .r
  .c3.line
   h2.up Coordinateur de projet
   ul
    li
     img.img(src="img/aristote1-logo.png" alt="Eurl Aristote logo")
    li 
     strong Eurl Aristote
    li 60 rue Pouchet, 75017 Paris, France
    li.phone 
     a(href="tel:+33625676084") +33 6 25 67 60 84
    li.email
     a(href="mailto:aristrad@gmail.com") aristrad@gmail.com
    li.www 
     a(href="http://www.aristculture.eu" target="_blank") www.aristculture.eu

  .c3.line
   h2.up Partenaire
   ul
    li 
     img.img(src="img/euroform-logo.png" alt="RFS EUROFORM logo")
    li 
     strong RFS EUROFORM
    li P.zza della Libertà, 40, 87036 Rende (CS) – Italy
    li.phone 
     a(href="tel:+390984467735") +39 0984 467735
    li.email 
     a(href="mailto:info@euroformrfs.it") info@euroformrfs.it
    li.www 
     a(href="http://www.euroformrfs.it/en/home-en/" target="_blank") www.euroformrfs.it/en/home-en/

   .social
    a(href="https://www.facebook.com/euroformrfsrende" target="_blank") 
     include facebook.svg
    a(href="https://www.linkedin.com/company/euroform-rfs" target="_blank") 
     include linkedin.svg
    a(href="https://twitter.com/EuroformRFS" target="_blank")
     include twitter.svg
    a(href="https://www.instagram.com/euroformrfs/?hl=en" target="_blank")
     include instagram.svg
    a(href="https://www.youtube.com/channel/UCRXD39e-mIWCRyLNO1rw6cQ" target="_blank")
     include youtube.svg

  .c3
   h2.up Partenaire
   ul
    li 
     img.img(src="img/empowerment-logo.png" alt="Organisation for Empowerment and Non-formal education logo")
    li 
     strong OENE (Organisation for Empowerment and Non-formal education)
    li Aurélie SAINT-PRIX, Présidente, 4 chemin du vieux tamarin, 97160 Le Moule
    li.phone
     a(href="tel:+590690278363") +590 690278363
    li.email 
     a(href="mailto:oene.office@gmail.com") oene.office@gmail.com
   .social
    a(href="https://www.facebook.com/oenehive" target="_blank") 
     include facebook.svg
    
 .r
  .c3.line
   h2.up Partenaire
   ul
    li 
     img.img(src="img/fti-logo.png" alt="VšĮ Finansų teisės institutas logo")
    li 
     strong VšĮ Finansų teisės institutas
    li Maironio g. 18-2, 44298 Kaunas, Lithuania
    li.phone 
     a(href="tel:+37067776920") +370 6 7776920
    li.email 
     a(href="mailto:info@finlaw.lt") info@finlaw.lt
    li.www 
     a(href="http://www.finlaw.lt" target="_blank") www.finlaw.lt
   
   .social
    a(href="https://www.linkedin.com/company/finansu-teises-institutas" target="_blank") 
     include linkedin.svg 

  .c3
   h2.up Partenaire
   ul
    li 
     img.img(src="img/ema-logo.jpg" alt="European Multicultural Association logo")
    li 
     strong European Multicultural Association
    li 8805 Sliven, Bulgaria, "Todor Assenov" str , bl. 2. ap. 6
    li.phone  
     a(href="tel:+359895373479") +359 895373479
    li.email 
     a(href="mailto:euma@abv.bg") euma@abv.bg
    li.www 
     a(href="https://www.ema20.com/" target="_blank") www.ema20.com
     

 include timeline-fr.pug