section
 .r
  .c5
   nav
    a(href=siteurl + "bg/#about-the-project") За проекта 
    a(href=siteurl + "bg/#project-partners") Партньори по проекта
    a(href=siteurl + "bg/#key-project-activities") Дейности по проекта
  .c5.text-right
   h1.balta#about-the-project Относно проекта

 .r.bg.ff
  .c4
   h2 Гражданите на ЕС страдат от ниското си ниво на финансова и правна грамотност, което влияе дълбоко както върху индивидуалното благосъстояние, така и върху икономиката на държавите-членки и на ЕС като цяло.
  .c6
   .goals
    p ЕС губи значителни финансови и инвестиционни възможности поради ниската финансова и правна грамотност на своите граждани. Разликите във финансовата и правната грамотност варират до голяма степен в различните страни от ЕС и допринасят за фрагментацията и икономическите различия между държавите -членки. 
    p Ниската финансова и правна грамотност на гражданите на ЕС ги прави по -уязвими към колебанията в икономиката и кризисните ситуации, което също се отразява на способността на ЕС да преодолява подобни икономически смущения. Това е особено вярно по отношение на настоящата криза, предизвикана от пандемията COVID-19. Фундаменталните различия във финансовата и правната грамотност в различните страни от ЕС доказват, че има фундаментална необходимост да се премахнат бариерите и да се осигури достъп за всички граждани на ЕС до най -добрите европейски практики на финансово и правно образование.

 
 .r
  .c4
   h2 Като се има предвид гореспоменатият контекст, проектът „Финансово-правна грамотност за Европа“ (FIN-LEG-LIT) цели <strong>следните цели</strong>:   
  .c6
   .goals
    strong Разработване на Наръчник („Наръчник за финансово-правна грамотност за Европа“) за финансово-правно образование за обучаващи и възрастни обучаващи </strong> се въз основа на най-добрите европейски практики по въпроса и отразяващ целите на ЕС, свързани със зелените финанси и Съюза на капиталовия пазар. Ръководството и онлайн инструментът за електронно обучение са насочени преди всичко към нискодоходни и/или нискоквалифицирани възрастни в страни и региони с различно ниво на икономическо развитие. Наръчникът ще бъде универсално приложим в целия ЕС и ще може да се използва от лица с различно ниво на финансова и правна грамотност.
    .hline
    strong Създаване и поддръжка на Онлайн инструмент за електронно обучение по финансово-правна грамотност</strong>, който би могъл  да се използва навсякъде и на всякакво ниво както за курсове по финансово-правно образование така и за  индивидуално обучение.
    .hline
    strong Обучение на инструкторите по финансово-правна грамотност</strong>, които да  предоставят обучение по финансово-правна грамотност на възрастни обучаеми, използвайки Ръководството и онлайн инструмента за електронно обучение.
    .hline
    strong Предоставяне на обучение за финансово-правна грамотност на нискодоходните и/или нискоквалифицираните  </strong> възрастни обучаеми.

 //- Partner organizations sekcija
  //-  .r.bg.fr
  //-   .c0
  //-    h2 Five partner organizations participate in the project
  //-    p The participating partners cover the spectrum of competences, needed to the successful implementation of the project.
  
  //-   .c2.line
  //-    h3 EURL Aristote
  //-    p EURL Aristote (a private company, Paris, France), which has a profound experience in the management of EU projects and activities of education of adults
  //-   .c2.line
  //-    h3 VsI Finansu teises institutas
  //-    p VsI Finansu teises institutas (a non-for profit organization, Lithuania), which is a scientific research institution, focusing on the financial law and the promotion of the financial and legal literacy and having a profound experience in education of adults
  //-   .c2.line
  //-    h3 Organisation for Empowerment and Nonformal education
  //-    p Organisation for Empowerment and Nonformal education (an association, Le Moule, Guadeloupe, France), which has a profound experience in working with the community and in particular, with its members in disadvantageous economic and/or social situations
  //-   .c2.line
  //-    h3 European Multicultural Association
  //-    p European Multicultural Association (non-profit organisation, Bulgaria), working mainly in main field of social inclusion and informal education for youth and having a well-established experience in the field of adult education in an economically disadvantaged environment
  //-   .c2
  //-    h3 Euroform RFS
  //-    p Euroform RFS (non-governmental organization, Italy) specialized in training and career guidance, with particular focus on ICT, and having an in depth experience in adult learning and development of e-learning tools
 
 .r.bg.ff 
  .c4
   h2 За постигането на гореспоменатите дейности <strong>всички партньори по проекта</strong> допринасят със съответното си ноу-хау и компетенции. 
  .c6
   .goals
    p Те ще извършват изследователските дейности, необходими за създаването на Ръководството, основано на най -добрите европейски практики за преподаване и учене по финансова и правна грамотност. Те ще създадат инструмент за електронно обучение въз основа на резултатите от гореспоменатото изследване и обратна връзка от възрастни обучаеми. Участниците в проекта ще провеждат семинари както за обучители, така и за изучаващи финансово-правната грамотност и ще гарантират разпространението на резултатите от проекта.
    p В резултат на проекта участващите обучители ще могат да използват Наръчника и Онлайн инструмента за електронно обучение при обучението по финансово-правна грамотност на възрастните, със специален акцент върху обучаващите се в социално и икономическо положение. Възрастните, които участват директно в проекта, ще подобрят своята финансово-правна грамотност. Създадените инструменти ще бъдат свободно достъпни за всички европейци чрез уебсайта на проекта и други партньорски уебсайтове и интернет медии. Проектът ще допринесе силно за цялостното развитие на интегрирания европейски подход към обучението на европейските граждани за финансова и правна грамотност.

 //- Project partner sekcija
 .r
  .c5
  .c5.text-right
   h1.balta#project-partners Партньори по проекта
 .r
  .c3.line
   h2.up Координатор на проекта
   ul
    li
     img.img(src="img/aristote1-logo.png" alt="Eurl Aristote logo")
    li 
     strong Eurl Aristote
    li 60 rue Pouchet, 75017 Paris, France
    li.phone 
     a(href="tel:+33625676084") +33 6 25 67 60 84
    li.email
     a(href="mailto:aristrad@gmail.com") aristrad@gmail.com
    li.www 
     a(href="http://www.aristculture.eu" target="_blank") www.aristculture.eu

  .c3.line
   h2.up Партньор
   ul
    li 
     img.img(src="img/euroform-logo.png" alt="RFS EUROFORM logo")
    li 
     strong RFS EUROFORM
    li P.zza della Libertà, 40, 87036 Rende (CS) – Italy
    li.phone 
     a(href="tel:+390984467735") +39 0984 467735
    li.email 
     a(href="mailto:info@euroformrfs.it") info@euroformrfs.it
    li.www 
     a(href="http://www.euroformrfs.it/en/home-en/" target="_blank") www.euroformrfs.it/en/home-en/

   .social
    a(href="https://www.facebook.com/euroformrfsrende" target="_blank") 
     include facebook.svg
    a(href="https://www.linkedin.com/company/euroform-rfs" target="_blank") 
     include linkedin.svg
    a(href="https://twitter.com/EuroformRFS" target="_blank")
     include twitter.svg
    a(href="https://www.instagram.com/euroformrfs/?hl=en" target="_blank")
     include instagram.svg
    a(href="https://www.youtube.com/channel/UCRXD39e-mIWCRyLNO1rw6cQ" target="_blank")
     include youtube.svg

  .c3
   h2.up Партньор
   ul
    li 
     img.img(src="img/empowerment-logo.png" alt="Organisation for Empowerment and Non-formal education logo")
    li 
     strong OENE (Organisation for Empowerment and Non-formal education)
    li Aurélie SAINT-PRIX, Présidente, 4 chemin du vieux tamarin, 97160 Le Moule
    li.phone
     a(href="tel:+590690278363") +590 690278363
    li.email 
     a(href="mailto:oene.office@gmail.com") oene.office@gmail.com
   .social
    a(href="https://www.facebook.com/oenehive" target="_blank") 
     include facebook.svg
    
 .r
  .c3.line
   h2.up Партньор
   ul
    li 
     img.img(src="img/fti-logo.png" alt="VšĮ Finansų teisės institutas logo")
    li 
     strong VšĮ Finansų teisės institutas
    li Maironio g. 18-2, 44298 Kaunas, Lithuania
    li.phone 
     a(href="tel:+37067776920") +370 6 7776920
    li.email 
     a(href="mailto:info@finlaw.lt") info@finlaw.lt
    li.www 
     a(href="http://www.finlaw.lt" target="_blank") www.finlaw.lt
   
   .social
    a(href="https://www.linkedin.com/company/finansu-teises-institutas" target="_blank") 
     include linkedin.svg 

  .c3
   h2.up Партньор
   ul
    li 
     img.img(src="img/ema-logo.jpg" alt="European Multicultural Association logo")
    li 
     strong European Multicultural Association
    li 8805 Sliven, Bulgaria, "Todor Assenov" str , bl. 2. ap. 6
    li.phone  
     a(href="tel:+359895373479") +359 895373479
    li.email 
     a(href="mailto:euma@abv.bg") euma@abv.bg
    li.www 
     a(href="https://www.ema20.com/" target="_blank") www.ema20.com
     

 include timeline-bg.pug