section
 .r
  .c5
   nav
    a(href="/#about-the-project") Apie projektą 
    a(href="/#project-partners") Projekto partneriai 
    a(href="/#key-project-activities") Projekto eiga 
  .c5.text-right
   h1.balta#about-the-project Apie projektą

 .r.bg.ff
  .c4
   h2 Žemas ES piliečių finansinis ir teisinis raštingumas neigiamai veikia tiek kiekvieno žmogaus gerovę, tiek valstybių narių ir visos ES ekonomiką.
  .c6
   .goals
    p Dėl žemo piliečių finansinio ir teisinio raštingumo ES netenka didelių finansinių ir investavimo galimybių. Finansinis ir teisinis raštingumas įvairiose ES šalyse itin skiriasi, o tai dar labiau didina skirtumus tarp valstybių narių ekonomikų. 
    p Dėl žemo finansinio ir teisinio raštingumo ES piliečiai labiau pažeidžiami ekonomikos svyravimams ir krizinėms situacijoms. Tai sunkina ir visos ES galimybes greičiau įveikti tokius ekonominius iššūkius. Tai iš dalies taikytina ir kalbant apie dabartinę krizę, kilusią dėl COVID-19 pandemijos. Esminiai finansinio ir teisinio raštingumo skirtumai įvairiose ES šalyse rodo, kad būtina imtis priemonių, kurios suteiktų galimybę visiems ES piliečiams pasinaudoti geriausia Europos finansinio ir teisinio švietimo praktika.

 
 .r
  .c4
   h2 Atsižvelgiant į aukščiau nurodytas aplinkybes, projektu „Finansinis ir teisinis raštingumas Europai“ (FIN-LEG-LIT) <strong>siekiama šių tikslų</strong>:   
  .c6
   .goals
    strong Parengti Vadovą („Finansinio ir teisinio raštingumo vadovas Europai“), skirtą instruktoriams ir besimokantiems suaugusiems </strong> kuris būtų paremtas geriausia Europos praktika ir atspindėtų ES tikslus, susijusius su tvariais finansais ir Kapitalo rinkos sąjunga. Vadovas ir E-mokymosi įrankis bus skirti skirtingo ekonominio išsivystymo šalyse ir regionuose gyvenantiems mažas pajamas gaunantiems ir(arba) mažai įgūdžių turintiems ir(arba) žemos kvalifikacijos suaugusiems. Vadovu galima bus naudotis visoje ES. Juo naudotis galės skirtingą finansinio ir teisinio raštingumo lygį turintys piliečiai.
    .hline
    strong Sukurti ir palaikyti finansinio teisinio raštingumo E-mokymosi įrankį </strong> kurį būtų galima naudoti bet kur ir bet kurioje aplinkoje finansinio-teisinio švietimo kursuose ar individualiam mokymuisi.
    .hline
    strong Vykdyti finansinio ir teisinio raštingumo instruktorių mokymus </strong> kuriuose instruktoriai, naudodami Vadovą ir E-mokymosi įrankį, būtų mokomi perteikti finansinio ir teisinio raštingumo žinias besimokantiems suaugusiems.
    .hline
    strong Vykdyti finansinio ir teisinio raštingumo mokymus </strong> mažas pajamas gaunantiems ir(arba) mažai įgūdžių turintiems ir(arba) žemos kvalifikacijos besimokantiesiems suaugusiems.

 //- Partner organizations sekcija
  //-  .r.bg.fr
  //-   .c0
  //-    h2 Five partner organizations participate in the project
  //-    p The participating partners cover the spectrum of competences, needed to the successful implementation of the project.
  
  //-   .c2.line
  //-    h3 EURL Aristote
  //-    p EURL Aristote (a private company, Paris, France), which has a profound experience in the management of EU projects and activities of education of adults
  //-   .c2.line
  //-    h3 VsI Finansu teises institutas
  //-    p VsI Finansu teises institutas (a non-for profit organization, Lithuania), which is a scientific research institution, focusing on the financial law and the promotion of the financial and legal literacy and having a profound experience in education of adults
  //-   .c2.line
  //-    h3 Organisation for Empowerment and Nonformal education
  //-    p Organisation for Empowerment and Nonformal education (an association, Le Moule, Guadeloupe, France), which has a profound experience in working with the community and in particular, with its members in disadvantageous economic and/or social situations
  //-   .c2.line
  //-    h3 European Multicultural Association
  //-    p European Multicultural Association (non-profit organisation, Bulgaria), working mainly in main field of social inclusion and informal education for youth and having a well-established experience in the field of adult education in an economically disadvantaged environment
  //-   .c2
  //-    h3 Euroform RFS
  //-    p Euroform RFS (non-governmental organization, Italy) specialized in training and career guidance, with particular focus on ICT, and having an in depth experience in adult learning and development of e-learning tools
 
 .r.bg.ff 
  .c4
   h2 Siekdami aukščiau nurodytų tikslų visi <strong>projekto partneriai</strong> prisidės prie projekto savo atitinkama patirtimi ir kompetencija.
  .c6
   .goals
    p Bus atlikti tyrimai, mokslinės/praktinės informacijos paieška ir analizė, būtina Vadovui sukurti, remiantis geriausia Europos finansinio ir teisinio raštingumo mokymo ir mokymosi praktika. Remdamiesi minėtų tyrimų rezultatais ir besimokančių suaugusiųjų atsiliepimais partneriai sukurs skaitmeninį E-mokymosi įrankį. Projekto dalyviai vykdys seminarus, skirtus tiek finansinio teisinio raštingumo instruktoriams, tiek besimokantiems, ir užtikrins projekto rezultatų sklaidą.
    p Vykdydami projektą, dalyvaujantys instruktoriai galės naudotis Vadovu ir E-mokymosi įrankiu mokydami suaugusius finansinio ir teisinio raštingumo, ypatingą dėmesį skiriant socialiai ir ekonomiškai nepalankioje padėtyje esantiems besimokantiesiems. Suaugę besimokantieji, tiesiogiai dalyvaujantys projekte, patobulins savo finansinio ir teisinio raštingumo įgūdžius. Sukurtos priemonės bus laisvai prieinamos visiems europiečiams projekto svetainėje, partnerių svetainėse bei kitose socialinėse medijose. Projektas ženkliai prisidės prie bendro integruoto Europos požiūrio į piliečių finansinį ir teisinį švietimą, vystymo. 

 //- Project partner sekcija
 .r
  .c5
  .c5.text-right
   h1.balta#project-partners Projekto partneriai
 .r
  .c3.line
   h2.up Projekto koordinatorius
   ul
    li
     img.img(src="img/aristote1-logo.png" alt="Eurl Aristote logo")
    li 
     strong Eurl Aristote
    li 60 rue Pouchet, 75017 Paris, France
    li.phone 
     a(href="tel:+33625676084") +33 6 25 67 60 84
    li.email
     a(href="mailto:aristrad@gmail.com") aristrad@gmail.com
    li.www 
     a(href="http://www.aristculture.eu" target="_blank") www.aristculture.eu

  .c3.line
   h2.up Partneris
   ul
    li 
     img.img(src="img/euroform-logo.png" alt="RFS EUROFORM logo")
    li 
     strong RFS EUROFORM
    li P.zza della Libertà, 40, 87036 Rende (CS) – Italy
    li.phone 
     a(href="tel:+390984467735") +39 0984 467735
    li.email 
     a(href="mailto:info@euroformrfs.it") info@euroformrfs.it
    li.www 
     a(href="http://www.euroformrfs.it/en/home-en/" target="_blank") www.euroformrfs.it/en/home-en/

   .social
    a(href="https://www.facebook.com/euroformrfsrende" target="_blank") 
     include facebook.svg
    a(href="https://www.linkedin.com/company/euroform-rfs" target="_blank") 
     include linkedin.svg
    a(href="https://twitter.com/EuroformRFS" target="_blank")
     include twitter.svg
    a(href="https://www.instagram.com/euroformrfs/?hl=en" target="_blank")
     include instagram.svg
    a(href="https://www.youtube.com/channel/UCRXD39e-mIWCRyLNO1rw6cQ" target="_blank")
     include youtube.svg

  .c3
   h2.up Partneris
   ul
    li 
     img.img(src="img/empowerment-logo.png" alt="Organisation for Empowerment and Non-formal education logo")
    li 
     strong OENE (Organisation for Empowerment and Non-formal education)
    li Aurélie SAINT-PRIX, Présidente, 4 chemin du vieux tamarin, 97160 Le Moule
    li.phone
     a(href="tel:+590690278363") +590 690278363
    li.email 
     a(href="mailto:oene.office@gmail.com") oene.office@gmail.com
   .social
    a(href="https://www.facebook.com/oenehive" target="_blank") 
     include facebook.svg
    
 .r
  .c3.line
   h2.up Partneris
   ul
    li 
     img.img(src="img/fti-logo.png" alt="VšĮ Finansų teisės institutas logo")
    li 
     strong VšĮ Finansų teisės institutas
    li Maironio g. 18-2, 44298 Kaunas, Lithuania
    li.phone 
     a(href="tel:+37067776920") +370 6 7776920
    li.email 
     a(href="mailto:info@finlaw.lt") info@finlaw.lt
    li.www 
     a(href="http://www.finlaw.lt" target="_blank") www.finlaw.lt
   
   .social
    a(href="https://www.linkedin.com/company/finansu-teises-institutas" target="_blank") 
     include linkedin.svg 

  .c3
   h2.up Partneris
   ul
    li 
     img.img(src="img/ema-logo.jpg" alt="European Multicultural Association logo")
    li 
     strong European Multicultural Association
    li 8805 Sliven, Bulgaria, "Todor Assenov" str , bl. 2. ap. 6
    li.phone  
     a(href="tel:+359895373479") +359 895373479
    li.email 
     a(href="mailto:euma@abv.bg") euma@abv.bg
    li.www 
     a(href="https://www.ema20.com/" target="_blank") www.ema20.com
     

 include timeline-lt.pug