section
 .r
  .c5
   nav
    a(href="/#about-the-project") About the project
    a(href="/#project-partners") Project partners
    a(href="/#key-project-activities") Project activities
  .c5.text-right
   h1.balta#about-the-project About the project

 .r.bg.ff
  .c4
   h2 Citizens of the EU suffer from their low level of financial and legal literacy which profoundly affects both the individual well-being and the economy of the member states and the EU as a whole.
  .c6
   .goals
    p EU loses substantial financial and investment opportunities due to the low financial and legal literacy of its citizens. The differences in financial and legal literacy vary largely in different EU countries and contributes to the fragmentation and economic disparities among the member states. 
    p Low financial and legal literacy of the EU citizens makes them more vulnerable to the fluctuations of the economy and crisis situations, which also affects the capacity of the EU to overcome such economic disturbances. This is particularly true regarding the current crisis triggered by the COVID-19 pandemic. Fundamental divergences of financial and legal literacy in different EU countries prove that there is a fundamentalneed to levy the barriers and ensure the access for all EU citizens to the best European practices of financial and legal education.

 
 .r
  .c4
   h2 Taking into account the aforementioned context, the Financial-Legal Literacy for Europe (FIN-LEG-LIT) project aims the following <strong>objectives</strong>:   
  .c6
   .goals
    strong Developing a Manual (“Financial-Legal Literacy Manual for Europe”) of financial-legal education for trainers and adult learners </strong> based on the best European practices on the matter and reflecting the objectives of the EU related to green finance and Capital Market Union. The Manual and the Online E-learning Tool will particularly target low-income and/or lowskilled and/or low-qualified adults in countries and regions with different level of economic development. The Manual will be universally applicable throughout the EU and could be used by persons having different financial and legal literacy level.
    .hline
    strong Launching and maintaining a financial-legal literacy Online E-learning Tool </strong> which could be used anywhere and in any environment for financial-legal education courses or individual learning
    .hline
    strong Training of the financial-legal literacy trainers </strong> to provide financial-legal literacy education to adult learners using the Manual and the Online E-learning Tool
    .hline
    strong Providing financial-legal literacy training </strong> to the low-income and/or low-skilled and/or low-qualified adult learners.

 //- Partner organizations sekcija
  //-  .r.bg.fr
  //-   .c0
  //-    h2 Five partner organizations participate in the project
  //-    p The participating partners cover the spectrum of competences, needed to the successful implementation of the project.
  
  //-   .c2.line
  //-    h3 EURL Aristote
  //-    p EURL Aristote (a private company, Paris, France), which has a profound experience in the management of EU projects and activities of education of adults
  //-   .c2.line
  //-    h3 VsI Finansu teises institutas
  //-    p VsI Finansu teises institutas (a non-for profit organization, Lithuania), which is a scientific research institution, focusing on the financial law and the promotion of the financial and legal literacy and having a profound experience in education of adults
  //-   .c2.line
  //-    h3 Organisation for Empowerment and Nonformal education
  //-    p Organisation for Empowerment and Nonformal education (an association, Le Moule, Guadeloupe, France), which has a profound experience in working with the community and in particular, with its members in disadvantageous economic and/or social situations
  //-   .c2.line
  //-    h3 European Multicultural Association
  //-    p European Multicultural Association (non-profit organisation, Bulgaria), working mainly in main field of social inclusion and informal education for youth and having a well-established experience in the field of adult education in an economically disadvantaged environment
  //-   .c2
  //-    h3 Euroform RFS
  //-    p Euroform RFS (non-governmental organization, Italy) specialized in training and career guidance, with particular focus on ICT, and having an in depth experience in adult learning and development of e-learning tools
 
 .r.bg.ff 
  .c4
   h2 To achieve the aforementioned activities all project <strong>partners contribute</strong> with their respective know-how and competencies.
  .c6
   .goals
    p They will perform the research activities, necessary to create the Manual, based on the best European financial and legal literacy training and learning practices. They will create e-learning tool, based on the results of the aforementioned research and feedback from adult learners. Project participants will implement workshops for both trainers and learners of the finacial-legal literacy and ensure the dissemination of the results of the project. 
    p As a result of the project the participating trainers will be availed to use the Manual and the Online E-learning Tool in the training of financial-legal literacy to the adults, with a particular focus on the socially and economically disadvantaged learners. Adult learners directly participating in the project will improve their financial-legal literacy skills. The created tools will be freely available for all Europeans via the project website and other partner websites and internet media. The project will contribute strongly to the overall development of the integrated European approach towards the financial and legal literacy education of its citizens.

 //- Project partner sekcija
 .r
  .c5
  .c5.text-right
   h1.balta#project-partners Project partners
 .r
  .c3.line
   h2.up Project coordinator
   ul
    li
     img.img(src="img/aristote1-logo.png" alt="Eurl Aristote logo")
    li 
     strong Eurl Aristote
    li 60 rue Pouchet, 75017 Paris, France
    li.phone 
     a(href="tel:+33625676084") +33 6 25 67 60 84
    li.email
     a(href="mailto:aristrad@gmail.com") aristrad@gmail.com
    li.www 
     a(href="http://www.aristculture.eu" target="_blank") www.aristculture.eu

  .c3.line
   h2.up Partner
   ul
    li 
     img.img(src="img/euroform-logo.png" alt="RFS EUROFORM logo")
    li 
     strong RFS EUROFORM
    li P.zza della Libertà, 40, 87036 Rende (CS) – Italy
    li.phone 
     a(href="tel:+390984467735") +39 0984 467735
    li.email 
     a(href="mailto:info@euroformrfs.it") info@euroformrfs.it
    li.www 
     a(href="http://www.euroformrfs.it/en/home-en/" target="_blank") www.euroformrfs.it/en/home-en/

   .social
    a(href="https://www.facebook.com/euroformrfsrende" target="_blank") 
     include facebook.svg
    a(href="https://www.linkedin.com/company/euroform-rfs" target="_blank") 
     include linkedin.svg
    a(href="https://twitter.com/EuroformRFS" target="_blank")
     include twitter.svg
    a(href="https://www.instagram.com/euroformrfs/?hl=en" target="_blank")
     include instagram.svg
    a(href="https://www.youtube.com/channel/UCRXD39e-mIWCRyLNO1rw6cQ" target="_blank")
     include youtube.svg

  .c3
   h2.up Partner
   ul
    li 
     img.img(src="img/empowerment-logo.png" alt="Organisation for Empowerment and Non-formal education logo")
    li 
     strong OENE (Organisation for Empowerment and Non-formal education)
    li Aurélie SAINT-PRIX, Présidente, 4 chemin du vieux tamarin, 97160 Le Moule
    li.phone
     a(href="tel:+590690278363") +590 690278363
    li.email 
     a(href="mailto:oene.office@gmail.com") oene.office@gmail.com
   .social
    a(href="https://www.facebook.com/oenehive" target="_blank") 
     include facebook.svg
    
 .r
  .c3.line
   h2.up Partner
   ul
    li 
     img.img(src="img/fti-logo.png" alt="VšĮ Finansų teisės institutas logo")
    li 
     strong VšĮ Finansų teisės institutas
    li Maironio g. 18-2, 44298 Kaunas, Lithuania
    li.phone 
     a(href="tel:+37067776920") +370 6 7776920
    li.email 
     a(href="mailto:info@finlaw.lt") info@finlaw.lt
    li.www 
     a(href="http://www.finlaw.lt" target="_blank") www.finlaw.lt
   
   .social
    a(href="https://www.linkedin.com/company/finansu-teises-institutas" target="_blank") 
     include linkedin.svg 

  .c3
   h2.up Partner
   ul
    li 
     img.img(src="img/ema-logo.jpg" alt="European Multicultural Association logo")
    li 
     strong European Multicultural Association
    li 8805 Sliven, Bulgaria, "Todor Assenov" str , bl. 2. ap. 6
    li.phone  
     a(href="tel:+359895373479") +359 895373479
    li.email 
     a(href="mailto:euma@abv.bg") euma@abv.bg
    li.www 
     a(href="https://www.ema20.com/" target="_blank") www.ema20.com
     

 include timeline.pug