.r
 .c5
 .c5.text-right
  h1.balta#key-project-activities Attività del progetto

.r
 .c0
  .timeline
   .entry
    .title  
     h3 26 ottobre 2020  
     p 1° incontro di apertura
   //-  .body
   //-   p Aprašymas kas įvyko/nutarta
   //-   ul
   //-    li Gal tikslinga parašyti kas nutarta? 
   //-    li Bent jau keletą punktų?
   //-    li Realizuota ir tokia galimybė :)
      
   .entry
    .title  
     h3 9 novembre 2020 
     p Creazione del logo
   //-  .body
   //-   p Aprašymas kas įvyko/nutarta
   //-   ul
   //-    li Gal tikslinga parašyti kas nutarta? 
   //-    li Bent jau keletą punktų? 

   .entry
    .title  
     h3 7 novembre 2020 
     p Creazione sito web 
   //-  .body
   //-   p Aprašymas kas įvyko/nutarta
   //-   ul
   //-    li Gal tikslinga parašyti kas nutarta? 
   //-    li Bent jau keletą punktų? 
 