.r
 .c5
 .c5.text-right
  h1.balta#key-project-activities Projekto eiga

.r
 .c0
  .timeline
   .entry
    .title  
     h3 2020 m. spalio 26 d. 
     p Pirmas projekto partnerių susirinkimas
   //-  .body
   //-   p Aprašymas kas įvyko/nutarta
   //-   ul
   //-    li Gal tikslinga parašyti kas nutarta? 
   //-    li Bent jau keletą punktų?
   //-    li Realizuota ir tokia galimybė :)
      
   .entry
    .title  
     h3 2020 m. lapkričio 9 d.  
     p Sukurtas logotipas
   //-  .body
   //-   p Aprašymas kas įvyko/nutarta
   //-   ul
   //-    li Gal tikslinga parašyti kas nutarta? 
   //-    li Bent jau keletą punktų? 

   .entry
    .title  
     h3 2020 m. lapkričio 17 d. 
     p Sukurtas projekto tinklapis
   //-  .body
   //-   p Aprašymas kas įvyko/nutarta
   //-   ul
   //-    li Gal tikslinga parašyti kas nutarta? 
   //-    li Bent jau keletą punktų? 
 