.r
 .c5
 .c5.text-right
  h1.balta#key-project-activities Les activités du projet

.r
 .c0
  .timeline
   .entry
    .title  
     h3 26 octobre 2020 
     p 1ère réunion de lancement
   //-  .body
   //-   p Aprašymas kas įvyko/nutarta
   //-   ul
   //-    li Gal tikslinga parašyti kas nutarta? 
   //-    li Bent jau keletą punktų?
   //-    li Realizuota ir tokia galimybė :)
      
   .entry
    .title  
     h3 9 novembre 2020
     p Création de logo
   //-  .body
   //-   p Aprašymas kas įvyko/nutarta
   //-   ul
   //-    li Gal tikslinga parašyti kas nutarta? 
   //-    li Bent jau keletą punktų? 

   .entry
    .title  
     h3 17 novembre 2020 
     p Création de site web
   //-  .body
   //-   p Aprašymas kas įvyko/nutarta
   //-   ul
   //-    li Gal tikslinga parašyti kas nutarta? 
   //-    li Bent jau keletą punktų? 
 