.r
 .c5
 .c5.text-right
  h1.balta#key-project-activities Project activities

.r
 .c0
  .timeline
   .entry
    .title  
     h3 26th of October 2020 
     p 1st kick-off meeting
    .body
     p Aprašymas kas įvyko/nutarta
     ul
      li Gal tikslinga parašyti kas nutarta? 
      li Bent jau keletą punktų?
      li Realizuota ir tokia galimybė :)
      
   .entry
    .title  
     h3 9th of November 2020 
     p Logo creation
    .body
     p Aprašymas kas įvyko/nutarta
     ul
      li Gal tikslinga parašyti kas nutarta? 
      li Bent jau keletą punktų? 

   .entry
    .title  
     h3 17th of November 2020 
     p Website creation
    .body
     p Aprašymas kas įvyko/nutarta
     ul
      li Gal tikslinga parašyti kas nutarta? 
      li Bent jau keletą punktų? 
 