// Body color
// $body-color: #f2f2f2;
$body-color: #1d1d1d;

// grid colors
$row-background-color: transparent; 
$column-background-color: transparent;
$column-specific: #262626;
$column-inside-specific: #3f3f3f;

// text colors
$text-main-color: #ffffff;
$text-small-color: #ffffff;
$title-color: #ec7969;
$divider-border-color: 1px solid rgba(126, 126, 126, 0.10);

// link colors
$a-color: #ffffff;
$a-hover-color: #ececec;
$a-text-decoration: none;