// .c5:nth-child(odd) {
//     background: $column-specific;
// }

.r.inside {
    width: 100%;
    background: $column-inside-specific;
}

.bg {
    background: $column-specific;
}

.ff {
    background-image: url(/img/fonas.svg);
    background-repeat: no-repeat;
    background-size: auto 100%;
}

.fr {
    background-image: url(/img/fonas-virsus.svg);
    background-repeat: no-repeat;
    // background-size: 100% auto;
    background-position: top right;
}

.fk {
    background-image: url(/img/fonas-apacia-kaire.svg);
    background-repeat: no-repeat;
    background-size: auto 200%;
    background-position: left bottom;
}

.line {
    border-right: 1px solid rgba(197, 197, 197, 0.658);
}

.hline {
    border-bottom: 1px solid rgba(214, 214, 214, 0.644);
    margin: 60px 0 60px 0;
}

.goals {
    position: relative;
    box-sizing: border-box;
    display: block;
    margin: 0 auto; //horizontally center
    // padding: 30px 0; // padding: 20px 0;
    background: $row-background-color;
    height: auto;
    width: 60%;
}

strong {
    color: $title-color;
}

.balta {
    color: $title-color;
    border-bottom: 4px solid #ffe875;

    // &::after, &::before {
    //     content: "--";
    // }
}

svg {
    height: 30px;
}

.social {
    margin: 20px 0 0 0;
    a {
        display: inline-block;
        margin: 0 20px 0 0;
    }

    svg {
        fill: #183d79a2;
    }
}

nav {
    margin-bottom: 40px;
    a {
        display: inline-block;
        margin: 0 20px 0 0;
        border-bottom: 1px solid $a-color;
        
        &:hover, &:focus {
            border-bottom: 1px solid $a-hover-color;
          }
    } 
}

header nav {

    margin: 0 0 63px 0;
    padding: 0;
    a {
        display: inline-block;
        margin: 0 0 0 20px;
    } 
}

